@use "../../Sass/variables";
@import "../../Sass/conf";
@import "../../Sass/responsive.scss";


.Main {
  @include phone() {
    background: url("../../assets/imgs/pexels-brett-sayles-1907307@2x.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    form {
      width: 100%;
      padding: 20px 0;
      display: flex;
      background-color: rgba(255, 255, 255, 0.251);
      align-items: center;
      input {
        width: 70vw;
        padding: 5px 0px 5px 10px;
      }
      button {
        width: 40vw;
      }
      h1 {
        font-size: 2em;
        width: 70vw;
      }
    }
  }
  @include tablets() {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    form {
      width: 100%;
      justify-content: center;
      padding: 0 0 0 50px;
      display: flex;
      input {
        width: 70vw;
        padding: 5px 0px 5px 10px;
      }
      button {
        width: 40vw;
      }
      h1 {
        font-size: 2.4em;
        width: 70vw;
      }
    }
  }
  @include laptops() {
    font-size: 0.8em;

    form{
      button {
        font-size: 0.8em;
      }
    }
      
  }
  
  background: url("../../assets/imgs/pexels-brett-sayles-1907307@2x.png")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding-top: 4rem;
  display: flex;
  padding-left: 5rem;
  font-family: variables.$regular;

  form {
    display: flex;
    height: 50%;
    align-self: center;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    font-size: 4em;
    letter-spacing: -2px;
    line-height: 1em;
    width: 40vw;
    color: variables.$text-color-s;
    font-family: "ArgentumSansBold";
  }

  input {
    width: 30vw;
    height: 8vh;
    border-radius: 25px;
    border: none;
    font-family: "ArgentumSansRegular";
    color: #000000;
    padding: 1em;
    font-size: larger;
  }
  button {
    width: 10vw;
    background-color: variables.$secondary-color;
    color: variables.$text-color-p;
    border-radius: 25px;
    border: none;
    height: 7vh;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.5s;
  }
  button:hover {
    background-color: white;
    color: variables.$secondary-color;
    transition: 0.5s;
    cursor: pointer;
  }
}

.Big-Card-Main {
  @include phone() {
    width: 100%;
    height: 100%;
    .propinside {
      
      flex-direction: column;
      background-color: #fff;
      height: 60vh;
      .imgcontainer {
        width: 100%;
        height: 80%;
        .imgcard {
          width: 100%;
          height: 100%;
        }
      }
      .aside {
        width: 100%;
        height: 100%;
        justify-content: center;
        background-image: linear-gradient(#005bd5, #002e6b);
        align-items: center;
        padding: 50px;
        h1.titulo {
          width: 100%;
          font-size: 2em;
        }
        .descricao {
          align-self: center;
          width: 80%;
          gap: 10px;
        }
        .subtitulo {
          width: 100%;
          font-size: 1em;
        }
        button {
          width: 100%;
        }
      }
    }
  }
  @include tablets() {
    .propinside{
      

      aside{
        width: 100%;
        font-size: 0.5em;

        h1{
            width: 50%;
          font-size: 0.5em;

          }


        }
        .imgcontainer{
        height: 30vh;

        }
        
      }
    
    
    }
    @include laptops() {
      font-size: 0.8em;
        .propinside {
        .aside{
          button {
            font-size: 0.8em;
          }
        }
          
    
      }
    }
    
    .propinside {
      display: flex;
      width: 100%;
      height: 56%;
      align-items: center;
      background-image: linear-gradient(#005bd5, #002e6b);
      aside {
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding-left: 2em;
        gap: 2em;
        h1 {
          color: variables.$text-color-p;
          font-family: variables.$bold;
          font-size: 3em;
          letter-spacing: -2px;
          width: 40.8vw;
        }
        .descricao {
          display: flex;
          align-items: center;
          width: 31vw;
          gap: 2em;
        }
        .linha {
          color: transparent;
          background-color: white;
          height: 2px;
          width: 4em;
          border-radius: 5px;
        }
        h3 {
          color: white;
          letter-spacing: 3px;
          font-size: 1em;
          font-weight: lighter;
        }
        p {
          color: white;
          font-size: 1.2em;
          font-family: variables.$light;
        }
        button {
          border: 2px solid white;
          color: white;
          letter-spacing: 3px;
          font-size: 1em;
          font-family: variables.$light;
          background-color: transparent;
          width: 10vw;
          height: 6vh;
          border-radius: 25px;
        }
        button:hover {
          border: 2px solid variables.$secondary-color;
          background-color: white;
          color: #005bd5;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
    .imgcard {
      width: 100%;
      height: 100%;
    }
    .imgcontainer {
    height: 100%;
    width: 50%;

    }
  }
  .CardBranco {
    @include phone() {
      
      width: 100%;
    height: 100%;
      
      .CardBrancoInside {
        justify-content: center;
      align-items: flex-start;
      width: 100%;
      .containtermaster{
        flex-direction: column;
        .imagemcontainerb{
          position: relative;
          left: -119px;
          .imgcardbranco {
            width: 100vw;
          }
        }
      }
      
        .aside2 {
          padding: 10px;
          width: 80%;
          align-self: center;
          align-items: center;
          .descricao1 {
            width: 80%;
            gap: 10px;
            align-self: center;
          }
          h1 {
            width: 100%;
            font-size: 2em;
          }
          p {
            width: 90%;
            font-size: 0.97em;
            font-family: variables.$regular;
          }
          button {
            width: 100%;
          }
        }
        
        
      }
    }
    @include tablets() {
      width: 100%;
      height: 100%;
        
        .CardBrancoInside {
          justify-content: center;
        align-items: flex-start;
        width: 100%;
        .containtermaster{
          flex-direction: column;
          .imagemcontainerb{
            position: relative;
            left: -119px;
            .imgcardbranco {
              width: 110%;
            }
          }
        }
        
          .aside2 {
            padding: 10px;
            width: 80%;
            align-self: center;
            align-items: center;
            .descricao1 {
              width: 80%;
              gap: 10px;
              align-self: center;
            }
            h1 {
              width: 100%;
              font-size: 2em;
            }
            p {
              width: 90%;
              font-size: 0.97em;
              font-family: variables.$regular;
            }
            button {
              width: 100%;
            }
          }
          
          
        }
    }
    @include laptops() {
      font-size: .9em;
      .CardBrancoInside {
        
        .aside2 {
          
          button {
            font-size: 0.8em;
          }
        }
        
      }
    }
    height: 56%;
    background-color: white;
    .CardBrancoInside {
      display: flex;
      height: 100%;
      
      align-items: center;
      .containtermaster{
        display: flex;
        align-items: center;
        .imagemcontainerb{
          width: 50%;
          display: flex;
          }
      }
      aside {
        width: 50%;
        display: flex;
        padding-left: 1em;
        flex-direction: column;
        gap: 1em;
        h1 {
          color: variables.$text-color-s;
          font-family: variables.$bold;
          font-size: 2.7em;
          letter-spacing: -2px;
          width: 38vw;
        }
        .descricao1 {
          display: flex;
          align-items: center;
          width: 30vw;
          gap: 2em;
        }
        .linha1 {
          color: transparent;
          background-color: variables.$secondary-color;
          height: 2px;
          width: 4em;
          border-radius: 5px;
        }
        h3 {
          color: variables.$secondary-color;
          letter-spacing: 3px;
          font-size: 1em;
          font-weight: lighter;
        }
        p {
          color: variables.$secondary-color;
          font-size: 1.2em;
          font-family: variables.$light;
        }
        button {
          border: 2px solid variables.$secondary-color;
          color: variables.$secondary-color;
          letter-spacing: 3px;
          font-size: 1em;
          font-family: variables.$medium;
          background-color: transparent;
          width: 10vw;
          height: 6vh;
          border-radius: 25px;
        }
        button:hover {
          border: 2px solid variables.$secondary-color;
          background-color: #005bd5;
          color: white;
          cursor: pointer;
          transition: 0.5s;
        }
      }
      img {
        width: 100%;
      }
      
      
    }
  }
  .galeria {
    @include phone() {
      width: 100vw;
      height: 75vh;

      .imagem-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .imagem-w {
          width: 50%;
          height: 100%;
        }
        .imagem1 {
          background: url("../../assets/imgs/Rio.png") no-repeat;
        }
        .imagem2 {
          background: url("../../assets/imgs/Ostras.png") no-repeat;
          background-size: cover;
        }
        .imagem3 {
          background: url("../../assets/imgs/Caldas.png") no-repeat;
          background-size: cover;
        }
        .imagem4 {
          background: url("../../assets/imgs/Amazonia.png") no-repeat;
          background-size: cover;
        }
        .botaogaleria {
          width: 40%;
        }
      }
    }
    @include tablets() {
      width: 100vw;
      height: 75vh;

      .imagem-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .imagem-w {
          width: 50%;
          height: 100%;
        }
        .imagem1 {
          background: url("../../assets/imgs/Rio.png") no-repeat;
        }
        .imagem2 {
          background: url("../../assets/imgs/Ostras.png") no-repeat;
          background-size: cover;
        }
        .imagem3 {
          background: url("../../assets/imgs/Caldas.png") no-repeat;
          background-size: cover;
        }
        .imagem4 {
          background: url("../../assets/imgs/Amazonia.png") no-repeat;
          background-size: cover;
        }
        .botaogaleria {
          width: 40%;
        }
      }
    }
    @include laptops() {
    
      .imagem-container {
        
        .botaogaleria {
          font-size: 0.7em;
        }
      }
    }
    
    width: 100%;
    height: 40.8vh;
    display: flex;
    .imagem-container {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 40vh;
      .imagem-w {
        padding: 10% 12.5%;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 37vh;
      }
      .imagem1 {
        background: url("../../assets/imgs/Rio.png") ;
        background-size: cover;
        background-position: center;
      }
      .imagem2 {
        background-image: url("../../assets/imgs/Ostras.png");
        background-position: center;

      }
      .imagem3 {
        background-image: url("../../assets/imgs/Caldas.png");
        background-position: center;

      }
      .imagem4 {
        background-image: url("../../assets/imgs/Amazonia.png");
        background-position: center;

      }
    }
    button {
      border-radius: 40px;
      border: 2px solid white;
      z-index: 0;
      backdrop-filter: blur(40px);
      background: transparent;
      position: absolute;
      color: white;
      font-size: 1.2em;
      font-family: variables.$light;
      letter-spacing: 3px;
      transition: 0.4s;

      width: 15%;
      height: 50px;
    }

    button:hover {
      backdrop-filter: blur(0px);
      transition: 0.5s;
      cursor: pointer;
    }
    img {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 41.3vh;
    }
  }

  .galeria-branca {
    @include phone() {
      display: flex;
      
      justify-content: center;
      align-items: center;
      gap: 5em;
      width: 100%;

      flex-wrap: wrap;
      height: 100%;
      padding: 0;
      flex-direction: column;

      .texto-container {
        .textos {
          line-height: 1.8em;
          text-align: center;
          font-size: 1em;
          
          color: #8b8b8b;
          width: 100%;
          h3 {
            font-size: 0.9em;
            text-align: center;
          }
        }
      }

      .galeriacontainer {
        
        .galeria-branca-fotos {
          gap: 0;
          width: 100%;
          

          .foto {
            background-repeat: no-repeat;
            display: flex;
            padding: 80px;
            background-size: cover;
            background-position: center;
            color: transparent;
          }
          .foto1 {
            background-image: url(../../assets/imgs/1.png);
          }
          .foto2 {
            background-image: url(../../assets/imgs/2.png);
          }
          .foto3 {
            background-image: url(../../assets/imgs/3.png);
          }
          .foto4 {
            background-image: url(../../assets/imgs/4.png);
          }
          .foto5 {
            background-image: url(../../assets/imgs/5.png);
          }
          .foto6 {
            background-image: url(../../assets/imgs/6.png);
          }
        }
      }
    }
    @include tablets() {
      display: flex;
      
      justify-content: center;
      align-items: center;
      gap: 5em;
      width: 100%;

      flex-wrap: wrap;
      height: 100%;
      padding: 0;
      flex-direction: column;

      .texto-container {
        .textos {
          line-height: 1.8em;
          text-align: center;
          font-size: 1em;
          
          color: #8b8b8b;
          width: 100%;
          h3 {
            font-size: 0.9em;
            text-align: center;
          }
        }
      }

      .galeriacontainer {
        
        .galeria-branca-fotos {
          gap: 0;
          width: 100%;
          

          .foto {
            background-repeat: no-repeat;
            display: flex;
            padding: 80px;
            background-size: cover;
            background-position: center;
            color: transparent;
          }
          .foto1 {
            background-image: url(../../assets/imgs/1.png);
          }
          .foto2 {
            background-image: url(../../assets/imgs/2.png);
          }
          .foto3 {
            background-image: url(../../assets/imgs/3.png);
          }
          .foto4 {
            background-image: url(../../assets/imgs/4.png);
          }
          .foto5 {
            background-image: url(../../assets/imgs/5.png);
          }
          .foto6 {
            background-image: url(../../assets/imgs/6.png);
          }
        }
      }
    }
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    width: 100%;

    flex-wrap: wrap;
    height: 100%;
    padding: 8em;
    flex-direction: column;

    .textos {
      line-height: 1.8em;
      text-align: center;
      font-size: 1.5em;
      color: #8b8b8b;
      width: 30vw;
      h3 {
        font-size: 0.8em;
        text-align: center;
      }
    }
    .galeriacontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
    .galeria-branca-fotos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2em;
      width: 82%;
      text-align: center;

      .foto {
        background-repeat: no-repeat;
        display: flex;
        padding: 120px;
        background-size: cover;
        background-position: center;
        color: transparent;
      }
      .foto1 {
        background-image: url(../../assets/imgs/1.png);
      }
      .foto2 {
        background-image: url(../../assets/imgs/2.png);
      }
      .foto3 {
        background-image: url(../../assets/imgs/3.png);
      }
      .foto4 {
        background-image: url(../../assets/imgs/4.png);
      }
      .foto5 {
        background-image: url(../../assets/imgs/5.png);
      }
      .foto6 {
        background-image: url(../../assets/imgs/6.png);
      }
    }
  }

  .vetores-container {
    @include phone() {
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      

      .blue-bg {
        background-color: #005bd5;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 2px;
        font-size: 0.9em;
        color: white;
      }
      .grey-bg {
        background-color: #eeeeee;
        display: flex;
        padding: 5px;
        align-items: center;
        text-align: center;
        color: #005bd5;
        font-size: 1em;

      }
      .vetores {
        .imagemvetores {
          width: 50%;
          margin-bottom: 20px;
        }
        .textovetor {
          width: 100%;
          font-size: 1em;
        }
      }
    }
    @include tablets() {
      gap: 2%;
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      

      .blue-bg {
        background-color: #005bd5;
        width: 25%;
        display: flex;
        align-items: center;
        text-align: center;
        height: 50%;
        padding: 2px;
        font-size: 0.9em;
        color: white;
      }
      .grey-bg {
        background-color: #eeeeee;
        width: 25%;
        display: flex;
        padding: 5px;
        align-items: center;
        text-align: center;
        color: #005bd5;
        font-size: 1em;

        height: 50%;
      }
      .vetores {
        .imagemvetores {
          width: 50%;
          margin-bottom: 20px;
        }
        .textovetor {
          width: 100%;
          font-size: 1em;
        }
      }
    }
    
    
    display: flex;
    justify-content: center;
    height: 100vh;
    gap: 2em;
    .grey-bg {
      @include vetores(#eeeeee);
      color: variables.$secondary-color;
      display: flex;
      width: 17%;
      img{
        margin-bottom: 2em
      }
  }
  .blue-bg{
    @include vetores(variables.$secondary-color);
  color: white;
  width: 17%;
  img{
    margin-bottom: 2em
  }

}

}
.fale-conosco {
  height: 70vh;
  color: white;
  gap: 0.5em;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #005bd5;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #afb3b8;
    input {
      width: 25vw;
      height: 5vh;
      padding-left: 2em;
      border: transparent;
      border-radius: 30px;
    }
    #msg {
      padding-left: 2em;
      border: transparent;
      height: 13vh;
      padding-top: 2em;
      border-radius: 20px;
    }
    button {
      border: 2px solid white;
      color: white;
      letter-spacing: 3px;
      font-size: 0.4em;
      font-family: variables.$light;
      background-color: transparent;
      width: 10vw;
      height: 6vh;
      border-radius: 25px;
      align-self: center;
    }
  @include phone() {
    form {
      width: 80%;
      .input {
        width: 100%;
      }
      .buttoninput {
        width: 50%;
      }
    }
  }
  @include tablets() {
    form {
      .input {
        width: 70%
  ;

      }
      .buttoninput {
        width: 50%;
      }
    }
  }
  // @include laptops() {
  //   form {
  //     width: 80%;
  //     .input {
  //       width: 100%;
  //     }
  //     .buttoninput {
  //       width: 50%;
  //     }
  //   }
  // }
 
  
  }
}